<nav class="nav center">
    <p class="nav-logo">Hello</p>
</nav>
<div class="players flex-inline">
    <div class="player1">
        <h3>{{player1_name}}</h3>
        <form class="flex-inline" #player1="ngForm" (ngSubmit)="getP1Name(player1)">
            <input name="player1" type="text" placeholder="Your name" ngModel #p1_name="ngModel"/>
            <button>Submit</button>
        </form>
    </div>
    <div class="player2">
        <h3>{{player2_name}}</h3>
        <form class="flex-inline" #player2="ngForm" (ngSubmit)="getP2Name(player2)">
            <input name="player2" type="text" placeholder="Your name" ngModel #p2_name="ngModel"/>
            <button>Submit</button>
        </form>
    </div>
</div>

<!-- board div -->

<div class="board flex center ">
    <div class="board-grid">
        <div class="flex-inline">
            <div class="grid-box center">
                <h1>{{board[0]}}</h1>
            </div>
            <div class="grid-box center">
                <h1>{{board[1]}}</h1></div>
            <div class="grid-box center">
                <h1>{{board[2]}}</h1></div>
        </div>

        <div class="flex-inline">
            <div class="grid-box center">
                <h1>{{board[3]}}</h1></div>
            <div class="grid-box center">
                <h1>{{board[4]}}</h1></div>
            <div class="grid-box center">
                <h1>{{board[5]}}</h1></div>
        </div>

        <div class="flex-inline">
            <div class="grid-box center">
                <h1>{{board[6]}}</h1></div>
            <div class="grid-box center">
                <h1>{{board[7]}}</h1></div>
            <div class="grid-box center">
                <h1>{{board[8]}}</h1></div>
        </div>
    </div>
</div>
